
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cadetblue;
}

.inputs-numero {
    border: 1px solid gray;
    outline: none;
    padding: 3px;
    border-radius: 5px;
}

.botoes {
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}