body {
    background-color: rgba(3, 255, 171, 0.364);
}

button {
    padding: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2E7D32;
    color: white;
    box-shadow: 0 6px #2E7D32;
    transition: 0.1s;
}

button:hover {
}

button:active {
    transform: translateY(4px);
    /* Diminui a sombra para parecer que encostou no fundo */
    box-shadow: 0 2px #2E7D32;
}

input {
    outline: none;
    padding: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid gray;
    border-radius: 5px;
    transition: 200ms;
}

input:focus {
    border: 2px solid rgb(0, 157, 255);
}