@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color: #163300;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1 {
    color: #9fe870;
    font-family: "Obviously", "Inter", sans-serif;
    position: relative;
    text-align: center;
    align-items: center;
    font-weight: 900;
    font-size: 75px;
    line-height: 0.85;
    letter-spacing: -0.02em;
    font-feature-settings: "calt";
    top: 110px;

}

h4 {
    color: #9fe870;
    font-family: 'SN Pro', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    position: relative;
    top: 100px;
    text-align: center;
    align-items: center;
}

#divConversor {
    background-color: #30481d;
    color: #9fe870;
    position: relative;
    padding: 20px 30px;
    top: -189px;
    width: 100rem;


}

button:active {
    transform: scale(0.95);
}

#buttonConversor {
    background-color: transparent;
    color: #9fe870;
    font-family: 'SN Pro', Tahoma, Geneva, Verdana, sans-serif;
    ;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    left: 90px;
    border: 0px;

}

#buttonConversor:hover {
    background-color: #3a5828;
    border-radius: 25px;
    padding: 2px 8px;

}

#buttonConsulte {
    background-color: transparent;
    color: #9fe870;
    font-family: 'SN Pro', Tahoma, Geneva, Verdana, sans-serif;
    ;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    border: 0px;
    left: 100px;
}

#buttonConsulte:hover {
    background-color: #3a5828;
    border-radius: 25px;
    padding: 2px 8px;

}

#buttonAlertas {
    background-color: transparent;
    color: #9fe870;
    font-family: 'SN Pro', Tahoma, Geneva, Verdana, sans-serif;
    ;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    border: 0px;
    left: 110px;
}

#buttonAlertas:hover {
    background-color: #3a5828;
    border-radius: 25px;
    padding: 2px 8px;

}


#buttonCompare {
    background-color: transparent;
    color: #9fe870;
    font-family: 'SN Pro', Tahoma, Geneva, Verdana, sans-serif;
    ;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    border: 0px;
    left: 120px;
}

#buttonCompare:hover {
    background-color: #3a5828;
    border-radius: 25px;
    padding: 2px 8px;

}

#logoWise {
    position: fixed;
    position: relative;
    top: -960px;
    width: 100px;
    left: -428px;
    z-index: 9999;
}

#divMoedas {
    background-color: aliceblue;
    position: relative;
    text-align: center;
    align-items: center;
    padding: 30px 20px;
    border-radius: 20px;
    top: 50px;
    width: 30rem;
    left: 500px;
}

#inputQuantia {
    position: relative;
    align-items: baseline;
    border: 2px solid #3a5828;
    border-radius: 15px;
    padding: 20px 20px;
    width: 420px;
    left: -3px;
    top: 30px;
    font-size: 15px;
    font-weight: bold;
}

#selectQuantia {
    text-align: center;
    position: relative;
    padding: 18px;
    border-radius: 13px;
    border: 0px;
    z-index: 999;
    top: -27px;
    left: 165px;
    outline: none;

}

#inputConverter {
    position: relative;
    text-align: justify;
    align-items: baseline;
    border: 2px solid #3a5828;
    border-radius: 15px;
    padding: 20px 20px;
    left: -3px;
    top: 50px;
    width: 420px;
    font-size: 15px;
    font-weight: bold;
}

#selectConverter {
    text-align: center;
    position: relative;
    padding: 18px;
    border-radius: 15px;
    border: 0px;
    z-index: 999;
    top: -7px;
    left: 165px;
    outline: none;
}

#taxaCambio {
    font-family: 'SN Pro', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    text-align: center;
    align-items: center;
    z-index: 9999;
    font-size: 17px;
    font-weight: 600;
    top: -20px;
}

#quantia {
    font-family: 'SN Pro', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    text-align: left;
    align-items: baseline;
    z-index: 9999;
    font-size: 15px;
    font-weight: 600;
    top: -233px;
}

#converter {
    font-family: 'SN Pro', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    text-align: left;
    align-items: baseline;
    z-index: 9999;
    font-size: 15px;
    font-weight: 600;
    top: -135px;
}

#buttonEnvieDinheiro {
    background-color: #9fe870;
    font-size: 20px;
    position: relative;
    text-align: center;
    align-items: center;
    border: 0px;
    border-radius: 30px;
    padding: 10px 170px;
    top: -40px;

}

#buttonAcompanhe {
    background-color: aliceblue;
    font-size: 20px;
    position: relative;
    text-align: center;
    align-items: center;
    border: 1px solid #163300;
    border-radius: 30px;
    padding: 10px 98px;
    white-space: nowrap;
    top: -20px;

}

#disgnWise {
    position: relative;
    width: 520px;
    height: 200px;
    border-radius: 25px;
    object-fit: cover;
    left: 500px;
    z-index: -10;
    top: -130px;

}